# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Ambientes virtuais
venv/
.env
.env.*

# Arquivos temporários e logs
*.log
.DS_Store

# VSCode / IDEs
.vscode/
.idea/

# Arquivos de uploads e escala gerada
uploads/
static/Escala_Final_Otimizada.xlsx